body {
	background: #bdc3c7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #bdc3c7, white);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #bdc3c7, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#brandname{
	color:#9D2933;
	font-size: 35px ;
	padding-top : 10px;
	font-family: 'Roboto', sans-serif;
	font-weight : 300;

}

.col-lg-2 {
	float: :left;
}

.tech-header {
	text-align: center
}


#navlinks{
	padding-left: 50px;
	padding-top: 10px;
}

.nav-link:hover{
	color : #9D2933;
}

.nav-item{
	padding-right : 40px;

	
}

.nav-link{
	color: #404040;
	
	
}

#mainnavbar {
	height: 100px;
	padding-bottom : 0;
	background : #e6e6ff ;
}

#about{
	margin-top: 100px;
}

.col-lg-6 {
	float: :left;
}

.infotext{
	color: #404040;

}

.headertext-1{
	color : #9D2933;
	font-family: 'Roboto', sans-serif;
	font-weight : 300;
	font-size : 30px;
	text-align: center;
	background : #e6e6ff;
	height : 40px;
}

.headertext-2{
	color : #9D2933;
	font-family: 'Roboto', sans-serif;
	font-weight : 300;
	font-size : 20px;
	
	background : #e6e6ff;
	text-align: center
}

.container-fluid{
	padding-top: 20px;
}

section {
	margin-top: 50px;
}

#welcome {
	font-family: 'Dancing Script', cursive;
}

.navbar-toggler{
	border: none;
}

#profilepic {
	max-height: 600px;
	border-radius: 25%;
}

.card {
	height : 225px;
	margin-top: 30px;
	background : #ABB7B7;
	box-shadow: 3px 3px #9D2933
}

.jumbotron {
	margin-top: 30px;
	background : #ABB7B7;
	box-shadow: 3px 3px #9D2933
}








